<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Dashboard</a></li>
            <li class="dropdown">
              <% if session[:user_id] != nil %><% @user = User.find_by(id: session[:user_id]) %>
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%="#{@user.email}"%><span class="caret"></span></a>
              	<ul class="dropdown-menu" role="menu">
              <%else%>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Not Logged In<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
              <%end%>
                <li class="divider"></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <h3 class="text-muted">Flicker Jr.</h3>
      </div>

      <div class="jumbotron">
        
        <%if session[:user_id] == nil%>
        	<h1>Flicker Jr.</h1>
	        <p class="lead">Login to upload your photos. No account? Signup!</p>

	        	<% if !@errors.nil?%>
          		<% @errors.each do |error| %>
              	<div class="alert alert-success" role="alert"><%= error%></div>
            	<%end%>
          	<% end %>

	        <p><a class="btn btn-lg btn-primary" href="/login" role="button">Login</a> <a class="btn btn-lg btn-success" href="/register" role="button">Register</a></p>
	      <%else%>
	      	<h1>Dashboard</h1>

	      	<%if @user.albums == nil%>
	      		<h2>You haven't created any albums yet</h2>

	      	<%else%>

	        	<h2>Your Albums:</h2>
	        	<% if @user.albums != nil %>
			        <% @user.albums.each do |album| %>
			        <a href = "/album/<%= album.id %>"><img src="<%= album.filename.thumb %>" alt="..."></a>
			        <%end%>
			       <%else%>
			      <%end%>
	        <%end%>

					<p></p>

	      	<p class="lead">Crete new album & select an image as thumbnail</p>
	      	<form action="/album/new" enctype="multipart/form-data" method="post">
	      		<input type="text" class="col-md-12" name="albumname" placeholder="Input album name">
			  		<p><input type="file" name="filename" class="filename"> <button type="submit">Submit</button>
					</form>
					</p>

				<%end%>
      </div>

      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>

    </div> <!-- /container -->